<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %} -Page</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<link href="/static/cloud-run-32-color.png" rel="icon" type="image/png" />
<link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container"> 
		<div class="hero">
			<div style="text-align:center;">
				<picture>
					<source srcset="/static/celebration-dark.svg" media="(prefers-color-scheme: dark)">
					<img src="/static/celebration.svg" alt="A group celebrating" width="427" height="231">
				</picture>
            </div>
        </div>
		<div class="message" style="text-align:center;">
            {% block content %}{% endblock %}
           
         
</div>
</div>
</body>
</html>